/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

main {
  background-color: white;
}

a {
  text-decoration: none;
}

a:visited {
  color: #0B3A81;
  text-decoration: underline;
}

h3 {
  margin: 4.2rem 0;
  font-size: 2.9rem;
  letter-spacing: .4rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
}

.page-title {
  background-color: #0B3A81;
  display: flex;
  align-items: center;
  letter-spacing: .1rem;
  color: white;
  padding: 3.4rem 10rem;
}

.logo img {
  width: 6.5rem;
  height: 6rem;
  margin-left: 6rem;
  margin-top: 2.1rem;
  position: absolute;
  left: 1px;
  top: .1px;
  z-index: auto;
}

.page-title h1 {
  z-index: 1;
  position: relative;
  margin: 0;
  font-family: "Salsa", system-ui;
  letter-spacing: 1rem;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.page-title p {
  z-index: 1;
  position: relative;
  bottom: 1px;
  margin: 0;
  letter-spacing: .1rem;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 300;
  margin-left: 2rem;
}

.hero-images {
  background-image: url('images/christina-wocintechchat-com-UTw3j_aoIKM-unsplash.jpg');
  background-position: -110% 55%;
  background-size: cover;
  height: 40.5rem;
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
}



.nav-bar {
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: white;
  margin: 0;
  box-shadow: 0px 0 30px 0 #757F86;
  padding: 0 5rem;
}

.nav-bar-tabs {
  display: flex;
  gap: 2rem;
}

.nav-tab {
  font-family: "Salsa", system-ui;
  width: 12.5rem;
  margin: .3rem 0;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 1rem 1rem;
  text-align: center;
}

.nav-bar-tabs .nav-tab:hover {
  text-decoration: underline;
}

.services {
  padding: .75rem 0;
  background-color: white;
}

hr {
  margin: 0;
}

.list-of-services {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  padding-top: 1.5rem 0 4rem 0;
}

.list-of-services ul li {
  gap: 1.7rem;
  margin-bottom: 1.5rem;
  padding: 1.1rem 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  list-style-type: none;
  border-radius: 7px;
  box-shadow: .15rem .15rem .15rem #5c5111;
}

li span {
  font-weight: bold;
  padding: 0 0 2rem .5rem;
  font-size: 1.7rem;
}

li img {
  filter: sepia(45%);
}

.provide-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.provide-list, .end-benefits {
  display: flex;
  text-align: center;
  background-color: white;
  border-top: 1px solid #E7F1F2;
}

.provide-list .end-benefits p {
  margin: 0 auto;
  width: 19rem;
  padding-left: 8rem;
  font-size: 1.25rem;
  letter-spacing: .07rem;
}

.provide-list .end-benefits h4 {
  font-family: "Salsa", system-ui;
  padding: 7rem 0 1.1rem 7rem;
  font-size: 1.26rem;
}

.provide-list .end-benefits div {
  width: 40%;
  padding-right: 9rem;
}

.provide-list .end-benefits img {
  width: 50%;
  height: 30%;
}

.middle-benefit {
  display: flex;
  padding: 0;
}

.middle-benefit h4 {
  font-family: "Salsa", system-ui;
  padding: 5rem 0 1.1rem 0;
  font-size: 1.26rem;
}

.middle-benefit p {
  padding: 0 12rem;
  font-size: 1.25rem;
  letter-spacing: .07rem;
}

.middle-benefit img {
  width: 47%;
  height: 30%;
}

.call-to-action {
  padding: 5rem 20rem;
  background: #E7F1F2;
}

.call-to-action p {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 3.9rem;
}

.book-button {
  height: 2.7rem;
  width: 16rem;
  margin-left: 16rem;
  padding: 1.7rem;
  border: 2px solid #0B3A81;
  background-color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: larger;
  border-radius: 7px;
}

.book-button:hover {
  background-color: #0B3A81;
  color: white;
}

.meet-the-founder {
  height: 60vh;
  padding: 8rem 4rem 10rem 4rem;
  margin-bottom: 10rem;
}

.brown-header {
  margin: 5rem 0;
  background-color: #81170B;
  padding: 2rem 0;
}

.brown-header h4 {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.meet-the-founder p {
  font-size: 2rem;
  margin-left: 40rem;
  width: 45%;
}

.meet-the-founder article img {
  z-index: 1;
  position: absolute;
  top: 219.5rem;
  left: 11rem;
}

.learn-more {
  border: 2px solid hsl(216, 84%, 27%);
  background-color: white;
  font-weight: bolder;
  text-decoration: none;
  margin-left: 40rem;
  margin-bottom: 4rem;
  position: relative;
  bottom: 10rem;
  left: 4rem;
  padding: 1rem;
  font-size: larger;
  border-radius: 7px;
}

.learn-more:hover {
  background-color: #0B3A81;
  color: #fff;
}

.articles-container {
  display: flex;
  font-size: 1.7rem;
  background-color: white;
  padding-bottom: 3rem;
  height: 80%;
}

.image-of-self {
  margin: 2.7rem;
  width: 27rem;
  height: 40rem;
}

.about-left {
  display: flex;
  gap: 3rem;
}

.about-founder {
  margin-top: 2.6rem;
  width: 51%;
  margin-bottom: 4.7rem;
}

.about-founder p {
  margin-top: 3%;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

details {
  background-color: #FAF0EB;
  text-align: center;
  border-radius: 4rem;
  width: 16rem;
  height: 2.5rem;
  padding: 1.2rem;
}

.contact-me {
 display: flex;
 background-color: white;
}

.contact-me-message {
  width: 50%;
  line-height: 1.5rem;
  font-size: 1.25rem;
  padding: 6rem 0 0 5rem;
}

.contact-me-message p {
  width: 80%;
}

.contact-me-form {
  width: 50%;
  padding: 6.5rem 0 6rem 5rem;
  background-color: #E7F1F2;
  border-radius: 40px 30px 150px;
}

label {
    font-size: 1.25rem;
}

input {
  margin-top: .4rem;
  width: 85%;
  height: 6vh;
  border: none;
  border-radius: 2px;
  border-right: 4px solid #757F86;
}

input::placeholder {
  color: #c1c0c0;
  padding-left: .5rem;
  font-style: italic;
} 

input[type="text"] {
    font-size: 1.1rem;
}

textarea::placeholder {
  color: #c1c0c0;
  padding-top: .4rem;
  padding-left: .5rem;
  font-style: italic;
  font-size: 1.1rem;
} 

input::placeholder {
  color: #a9a9a9;
} 

textarea {
  display: flex;
  margin-top: .4rem;
  border: none;
  width: 42.7%;
}

.input-field {
  display: flex;
  font-size: 1.25rem;
  width: 50%;
  flex-direction: column;
  margin-bottom: 1rem;
}

.user-identifier, .user-contact {
  display: flex;
}

.submit-button {
  background-color: #0B3A81;
  font-weight: bolder;
  height: 2.5rem;
  width: 17.5rem;
  margin: 1rem 0 0 0;
  border: none;
  font-size: larger;
  color: white;
  border-radius: 7px;
}

.submit-button:hover {
  background-color: #a9a9a9;
}

.price-scale-section {
  padding: 3.5rem;
  display: flex;
  gap: 20rem;
  flex-wrap: wrap;
  border-radius: 1.5rem;
  margin: .3rem 0;
}

.price-scale-section div {
  width: 35%;
  text-align: center;
}

.price-scale-section a {
  font-weight: 700;
}

.price-scale-section ul {
  font-size: x-large;
  padding-top: 1rem;
  line-height: 2rem;
}

.price-scale-section h3 {
  margin: 0;
}

.price-scale-section p {
  font-style: italic;
  font-size: 20px;
  margin-bottom: .7rem;
}

.remaining-skillshare-plan {
  font-weight: 900;
}

.skillshare, .referrals {
  background-color: #e6e4e4;
}

.tierOne {
  background-color: #d5d9df;
}


.thank-you {
  padding: 9rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.thank-you h1 {
  width: 70%;
}

.thank-you p {
  font-size: 1.5rem;
  width: 70%;
}

footer {
  text-align: center;
  padding: 2rem 0;
  background-color: #FAF0EB;
}

.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .page-title {
    letter-spacing: .1rem;
    padding: 2rem 0rem;
    height: 19vh;
  }
  
  .page-title h1 {
    width: 90%;
    z-index: 1;
    position: relative;
    margin: 0;
    font-family: "Salsa", system-ui;
    letter-spacing: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1.3rem;
    color: white;
  }

.page-title p {
    z-index: 1;
    position: relative;
    bottom: 1px;
    margin: 0;
    font-family: "Merriweather", sans-serif;
    letter-spacing: .1rem;
    font-size: .6rem;
    font-style: italic;
    font-weight: 300;
    padding-left: .9rem;
    margin-left: 2rem;
  }

  .logo img {
    width: 4.5rem;
    height: 4.5rem;
    margin-left: .005rem;
    margin-bottom: 0.1rem;
    padding-bottom: 2rem;
    position: absolute;
    left: 9rem;
    top: 2.7rem;
    z-index: auto;
  }

  .nav-bar-tabs {
    gap: .3rem;
    height: 2.5rem;
  }

  .nav-tab {
    font-weight: 500;
    width: 6rem;
    font-size: .5rem;
    padding: .5rem;
  }

  .hero-images {
    height: 30rem;
    color: white;
    font-family: "Lato", sans-serif;
  }

  .hero-images p {
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding: 5rem 0 0 1rem;
    font-size: .78rem;
    font-style: italic;
    letter-spacing: .05rem;
    line-height: 1.7rem;
    color: black
  }

  .list-of-services {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-top: 0;
    padding-bottom: 2.7rem;
  }

  .list-of-services ul .more-content {
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0;
    padding: 1.3rem 1rem;
    font-weight: 300;
    width: 15.5rem;
    height: 31.5vh;
    list-style-type: none;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
  }

  .list-of-services ul .less-wording {
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0;
    padding: 1rem 1rem;
    font-weight: 300;
    width: 15.5rem;
    height: 13.5vh;
    list-style-type: none;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
    background-color: #f6f0e4;
  }

  .provide-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  .provide-list article {
    display: block;
    width: 100%;
    padding-bottom: 4rem;
  }

  .provide-list .end-benefits div,
  .provide-list .middle-benefit div {
    width: 80%;
    padding: 0;
  }

  .provide-list .end-benefits h4,
  .provide-list .middle-benefit h4 { 
    text-align: center;
    width: 100%;
    padding: 2rem 0rem 1rem 2.5rem;
  }

  .provide-list .end-benefits p,
  .provide-list .middle-benefit p {
    width: 100%;
    padding: 1rem 0rem 1rem 2.5rem;
  }

  .provide-list .end-benefits img,
  .provide-list .middle-benefit img {
    width: 100vw;
    display: block;
  }

  .book-button, .submit-button {
    display: block;
    padding: 1.5rem;
    height: 3rem;
    width: 9rem;
    font-size: 1.3rem;
    border-radius: 14px;
    text-align: center;
    margin-left: 5rem;
  }

  .call-to-action {
    padding: 3.5rem 1rem;
    background: #E7F1F2;
    border-top:2px solid #688bc1;
  }
  
  .call-to-action p {
    font-size: 1.8rem;
    width: 100%;
  }
  
  .meet-the-founder {
    height: 90vh;
    padding: 1rem;
  }
  
  .brown-header {
    margin: 5rem 2rem 1.5rem 2rem;
    background-color: #81170B;
    padding: 2rem 0;
  }
  
  .brown-header h4 {
    text-align: center;
    font-size: 2rem;
    color: white;
  }
  
  .meet-the-founder p {
    text-align: center;
    margin: 0;
    font-size: 1.7rem;
    width: 100%;
  }
  
  .meet-the-founder article img {
    margin: 0 0 1.2rem 4.4rem;
    position: static;
    width: 60%;
    height: 40%;
  }
  
  .learn-more {
    margin-left: 7rem;
    margin-top: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: larger;
    position: static;
    border-radius: 7px;
  }

  label {
    font-size: 1rem;
    font-weight: bold;
  }

  .contact-me-form {
    width: 100%;
    height: 60vh;
    padding: 4rem 0 7rem 1rem;
    border-radius: 40px 30px 250px;
  }

  input {
    margin-top: .4rem;
    width: 92%;
    height: 5.5vh;
    border: none;
    border-radius: .8rem;
    border-right: 3px solid #757F86;
  }
  

  input::placeholder {
    color: #c1c0c0;
    padding-left: .5rem;
    font-style: italic;
  } 

  input[type="text"] {
      font-size: 1rem;
  }

  textarea::placeholder {
    color: #c1c0c0;
    padding-top: 1rem;
    padding-left: .5rem;
    font-style: italic;
    font-size: 1.2rem;
  } 

  textarea {
    margin-top: .4rem;
    border: none;
    width: 96%;
    height: 20vh;
    border-radius: .9rem;
    margin-bottom: 2rem;
    border-right: 3px solid #757F86;
  }


  .user-identifier, .user-contact {
    margin-top: .4rem;
  }

  .articles-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }

  .about-left {
    display: block;
    gap: 3rem;
  }

  .image-of-self {
    margin-top: 2rem;
    width: 75%;
    height: 35%;
  }

  .about-founder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0;
  }

  .about-founder h3 {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .technical-skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .95rem;
    margin-top: -36rem;
    margin-left: .5rem;
    margin-bottom: 8rem;
  }

  footer {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  #hidden {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-title {
    letter-spacing: .1rem;
    padding: 2rem 0rem;
    height: 19vh;
  }
  
  .page-title h1 {
    width: 100%;
    z-index: 1;
    position: relative;
    margin: 0;
    font-family: "Salsa", system-ui;
    letter-spacing: .5rem;
    font-size: 3.5rem;
    font-weight: 700;
    padding-left: 1.3rem;
    color: white;
  }

.page-title p {
    z-index: 1;
    position: relative;
    bottom: 1px;
    margin: 0;
    font-family: "Merriweather", sans-serif;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    padding-left: .9rem;
    margin-left: 2rem;
  }

  .logo img {
    width: 6.7rem;
    height: 6.7rem;
    margin-left: .005rem;
    margin-bottom: 0.1rem;
    padding-bottom: 2rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: auto;
  }

  .nav-bar-tabs {
    gap: .5rem;
    height: 2.5rem;
  }

  .nav-tab {
    font-weight: 500;
    width: 12rem;
    font-size: .9rem;
    padding: .5rem;
  }

  .hero-images {
    height: 30rem;
    color: white;
    font-family: "Lato", sans-serif;
  }

  .hero-images p {
    width: 65%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding: 4.5rem 0 0 0;
    font-size: 1rem;
    font-style: italic;
    letter-spacing: .05rem;
    line-height: 3rem;
    color: black
  }

  .list-of-services {
    gap: 2.3rem;
    padding-bottom: 4rem;
  }

  .list-of-services ul .less-wording {
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0;
    padding: 1.2rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    width: 17.5rem;
    height: 7vh;
    list-style-type: none;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
  }

  .list-of-services ul .more-content {
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0;
    padding: 1.2rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    width: 17.5rem;
    height: 21vh;
    list-style-type: none;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
  }

  .provide-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .provide-list article {
    display: block;
    width: 100%;
    padding-bottom: 5rem;
  }

  .provide-list .end-benefits div,
  .provide-list .middle-benefit div {
    width: 100%;
  }

  .provide-list .end-benefits h4,
  .provide-list .middle-benefit h4 { 
    text-align: center;
    width: 100%;
    padding: 2rem 0rem 0rem 5rem;
  }

  .provide-list .end-benefits p,
  .provide-list .middle-benefit p {
    width: 100%;
    padding: 1rem 0rem 0rem 5rem;
  }

  .provide-list .end-benefits img,
  .provide-list .middle-benefit img {
    width: 100vw;
  }

  .call-to-action {
    padding: 3rem 1rem;
    background: #E7F1F2;
    border-top:2px solid #688bc1;
  }
  
  .call-to-action p {
    font-size: 1.8rem;
    width: 100%;
  }

  .meet-the-founder {
    height: 90vh;
    padding: 1rem;
  }
  
  .brown-header {
    margin: 5rem 2rem 1.5rem 2rem;
    background-color: #81170B;
    padding: 2rem 0;
  }
  
  .brown-header h4 {
    text-align: center;
    font-size: 2rem;
    color: white;
  }
  
  .meet-the-founder p {
    text-align: center;
    margin: 0;
    font-size: 1.7rem;
    width: 100%;
  }
  
  .meet-the-founder article img {
    margin: 0 0 1.2rem 9rem;
    position: static;
    width: 60%;
    height: 40%;
  }
  
  .learn-more {
    margin-top: 2rem;
    margin-left: 19rem;
    padding: 1rem;
    font-size: larger;
    position: static;
    border-radius: 7px;
  }

  .articles-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }

  .about-left {
    display: block;
    gap: 3rem;
  }

  .image-of-self {
    margin-top: 2rem;
    padding: 0 3rem;
    width: 70%;
    height: 43%;
  }

  .about-founder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0;
  }

  .about-founder h3 {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .about-founder p {
    font-size: 2rem;
  }

  .contact-me-form {
    width: 100%;
    height: 60vh;
    padding: 4rem 0 7rem 1rem;
    border-radius: 40px 30px 250px;
  }

  input {
    margin-top: .4rem;
    width: 92%;
    height: 5.5vh;
    border: none;
    border-radius: .8rem;
    border-right: 3px solid #757F86;
  }
  

  input::placeholder {
    color: #c1c0c0;
    padding-left: .5rem;
    font-style: italic;
  } 

  input[type="text"] {
      font-size: 1rem;
  }

  textarea::placeholder {
    color: #c1c0c0;
    padding-top: 1rem;
    padding-left: .5rem;
    font-style: italic;
    font-size: 1.2rem;
  } 

  textarea {
    margin-top: .4rem;
    border: none;
    width: 96%;
    height: 20vh;
    border-radius: .9rem;
    margin-bottom: 2rem;
    border-right: 3px solid #757F86;
  }


  .user-identifier, .user-contact {
    margin-top: .4rem;
  }

  #hidden {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
  body {
    flex-direction: row;
  }

  .hero-images p {
    width: 65%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding: 7rem 0 0 0;
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: .05rem;
    line-height: 3rem;
    color: black;
  }

  .logo img {
    width: 7.5rem;
    height: 7.5rem;
    margin-left: .005rem;
    margin-bottom: 0.1rem;
    padding-bottom: 2rem;
    position: absolute;
    left: 9.7rem;
    top: 1.5rem;
    z-index: auto;
  }

  .list-of-services {
    gap: 2.3rem;
    padding-bottom: 4rem;
  }

  .list-of-services ul li {
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0;
    padding: 1.2rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    width: 27.5rem;
    height: 4vh;
    list-style-type: none;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
  }

  .provide-list {
    display: block;
    margin-bottom: 2rem;
  }

  .provide-list article {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .provide-list article p {
    width: 75%;
  }

  .about-founder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-top: 4rem;
  }

  .about-left {
    display: flex;
    gap: 1rem;
  }

  .about-founder h3 {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .about-founder p {
    font-size: 1.2rem;
  }

  .meet-the-founder article img {
    margin: 0 0 .2rem 4rem;
    position: static;
    width: 30%;
    height: 10%;
  }

  .meet-the-founder p {
    margin-left: 28rem;
    margin-top: -29rem;
  }

  .call-to-action {
    padding: 5rem 10rem;
    background: #E7F1F2;
    border-top:2px solid #688bc1;
  }
  
  .call-to-action p {
    font-size: 2.1rem;
    width: 100%;
  }

  .call-to-action a {
    margin-left: 18rem;
  }
}

