/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
}

a:active, a:visited, a:link {
   color: #2c0b00;
}

h1, h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 1px rgb(117, 116, 116);
}

h3, h4 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

p, li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h2 {
  margin: 4.2rem 0;
  font-size: 2.9rem;
  letter-spacing: .4rem;
  text-align: center;
  padding: 1rem 0;
}

.emphasis-color-green {
  color: #749471;
  font-weight: 700;
}

.page-title {
  text-align: center;
  padding: 2.95rem 12rem;
  letter-spacing: .05rem;
  background-color: #fff;
}

.page-title h1 {
  z-index: 1;
  position: relative;
  margin: 0;
  letter-spacing: .75rem;
  font-size: 2.25rem;
  font-weight: 600;
  font-style: normal;
}

.page-title p {
  letter-spacing: .1rem;
  font-size: 1rem;
  font-weight: 300;
  padding-top: .5rem;
  margin-left: 8rem;
  color: #2d0b00
}

.disclaimer {
  text-align: center;
  background: black;
  width: 100%;
  font-size: 12px;
  padding: .7rem 0;
  color: white;
  font-weight: 400;
  letter-spacing: .1rem;
}

.disclaimer a {
  color: rgb(239, 187, 57);
}

.skillshares-left {
  font-weight: 900;
}

.hero-images {
  background-image: url('images/black_woman_engineer_3.jpg');
  background-position: -110% 55%;
  background-size: cover;
  height: 40.5rem;
}

.nav-bar {
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: #f3fbf3;;
  margin: 0;
  padding: 0 5rem;
  border: .1px solid #749471;
}

.nav-bar-tabs {
  display: flex;
  gap: 1rem;
}

.nav-tab {
  width: 12.5rem;
  margin: .3rem 0;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 1rem 1rem;
  text-align: center;
}

.nav-bar-tabs .nav-tab:hover {
  text-decoration: underline;
}

hr {
  margin: 0;
}

.opening-comment {
  height: 40vh;
  width: 100%;
}

.opening-comment h2 {
  margin: 0; padding: 0;
  position:absolute;
  top:  65rem; 
  left: 45rem;
  transform:translate(-50%,-50%);
  font-size: 3em; 
  text-transform:uppercase;
}

.opening-comment h2 span:nth-child(1){
  position: absolute;
  top:0; 
  left:0; 
  color: #000;
  transition:0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow:hidden;
}

.opening-comment h2:hover span:nth-of-type(1){
  transform:translateY(-18px); 
}

.opening-comment h2 span:nth-of-type(2){
  position:absolute;
  top:0; 
  left:0; 
  color: #000;;
  transition:0.5s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  overflow:hidden;
}

.opening-comment h2:hover span:nth-of-type(2){
  transform:translateY(18px); 
}

.opening-comment h2 span:nth-of-type(3){
  position:absolute;
  top:50%; left: 0;
  transform:translateY(-50%) scaleY(0);
  width: 91%; 
  color: black;
  background: rgb(239, 187, 57);
  font-size: 0.5em; 
  font-weight: 500;
  letter-spacing:0.7em;
  text-align:center;
  padding-left: 20px; margin-left: 5px;
  transition:0.5s;
}

.opening-comment h2:hover span:nth-of-type(3){
  transform:translateY(-50%) scaleY(1);
}

.user-entry {
  margin: 3rem;
  padding-top: 6rem;
  display: flex;
  gap: 3rem;
  background-color: #749471;
  
}

.user-entry h2 {
  padding-top: 4.45rem;
  width: 41%;
  animation: fade-in 7s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}

.list-of-services {
  align-items: center;
  padding: 1.5rem 0 4rem 3rem;
  border-radius: 10rem 280rem 100rem;
  background-color: #ffdccf;
}

.list-of-services article {
  gap: 1.7rem;
  margin-bottom: 1.5rem;
  padding: 1.1rem 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  list-style-type: none;
  border-radius: 7px;
  box-shadow: -.15rem -.15rem .15rem #b27966;
  position: relative;
  width: 65%;
  animation: mymove 5s forwards;
}

@keyframes mymove {
  from {left: 2000px;}
  to {left: 0px;}
}

.services-heading {
  display: flex;
}

.services-heading:hover + .services-expanded {
  display: flex;
  flex-direction: column;
}

.list-of-services article h3 {
  padding: .8rem 0 .5rem .5rem;
  font-size: 1.7rem;
  color: #802000;
}

.services-heading img {
  margin-left: .75rem;
  padding-top: .55rem;
  filter: sepia(80%);
}

.provide-list {
  display: block;
  margin: 5rem;
  padding: 2rem 0 7rem 0;
  animation: change-color-on-scroll 7s forwards;
  animation-timeline: view();
  animation-range-end: 700px;
}

@keyframes change-color-on-scroll {
  from {
    background-color: #fff;
    color: #b27966;
  }

  to {
    background-color: #ffdccf;
    color: #802000;
  }
}

.provide-list-content {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.provide-list-content article {
  width: 20%;
  height: 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  background-color: white;
  box-shadow: 10px 19px 14px #d7b9af;
}


.provide-list-content p {
  font-size: 1.1rem;
  letter-spacing: .07rem;
  font-weight: 300;
  line-height: 125%;
}

.provide-list-content img {
  width: 75%;
  border-radius: 10px;
  filter: sepia(30%);
  padding-bottom: 2rem;
}

.provide-list-content h3 {
  text-align: center;
  font-size: 1.26rem;
  color: #802000;
  padding-bottom: 1.5rem;
}

.call-to-action {
  background: url('images/background_image_gradient.png') fixed;
  background-size: cover;
  filter: sepia(23%);
  height: 60vh;
  opacity: .75;
  padding: 8rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.call-to-action p {
  background-color: #fff;
  padding: 4rem;
  text-align: center;
  line-height: 4rem;
  font-weight: 700;
  font-size: 2rem;
  opacity: .75rem;
}

.book-button {
  width: 16rem;
  margin: auto;
  padding: 2rem 0 2rem 2rem;
  font-weight: 900;
  text-decoration: none;
  font-size: larger;
  border-radius: 7px;
}

.book-button:hover {
  background-color: #FF9F80;
  color: #802000;
}

.meet-the-founder {
  padding: 1.5rem 0rem 10rem 0;
}

.meet-the-founder article {
  display: flex;
  position: relative;
  height: 80vh;
}

.meet-the-founder h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.meet-the-founder p {
  top: 4rem;
  left: 40rem;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 170%;
  width: 30%;
  position: absolute;
  background-color: #fff;
  border: 1.5px solid #757F86;
}

.meet-the-founder article img {
  position: absolute;
  left: 18rem;
}

.learn-more {
  font-weight: bolder;
  text-decoration: none;
  margin: 3rem 0;
  font-size: large;
  color: #802000;
}

.learn-more:hover {
  background-color: #F8E71C;
  padding: 1rem .5rem;
  color: #000;
}

.articles-container {
  display: flex;
  font-size: 1.7rem;
  background-color: white;
  padding-bottom: 3rem;
  height: 80%;
}

.image-of-self {
  margin: 10rem 2.7rem;
}

.about-left {
  display: flex;
  gap: 2rem;
}

.about-founder {
  margin-top: 2.6rem;
  width: 58%;
  margin-bottom: 4.7rem;
}

.about-founder h2 {
  text-align: start;
  margin: 2rem 0;
}

.about-founder p {
  margin-top: 3%;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.booking-page-fixed-image {
  background: url('images/black_women_coder.jpg') fixed;
  min-height: 35vh;
  box-shadow: 2px 2px 5px 2px #000;
}


.booking-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2rem 4rem 5rem 4rem;
}

.booking-section div {
  width: 51.65%;
}

.booking-section article {
  padding-top: 1rem;
  width: 50%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: start;
  padding-right: -10rem;
  width: 100%;
}

.booking-section p {
  width: 51.5%;
  margin: auto;
}

.booking-section h2 {
  line-height: 2rem;
  margin: 2rem 0;
  font-size: 2rem;
  text-shadow: none;
}

.booking-section img {
  width: 45%;
  padding: 4rem 0;
}

.get-started {
  padding-top: 1.5rem;
}

.user-pi {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.user-pi div, .website-info div {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.user-pi input, .website-info input, .website-info textarea {
  line-height:140%;
  padding: .35rem .15rem;
  border: 2.5px solid #000;
  margin-bottom: 2rem;
}

 .website-info fieldset {

 }

.booking-submit-button {
  font-weight: bolder;
  height: 2.5rem;
  width: 17.5rem;
  margin: 1rem 0 0 0;
  border: none;
  font-size: larger;
  border: 2px solid #000;
  letter-spacing: .25rem;
}

.booking-submit-button:hover {
  background-color: #749471;
  color: #fff;
  box-shadow: 3px 3px 3px #000;
}

details {
  background-color: #FAF0EB;
  text-align: center;
  border-radius: 4rem;
  width: 16rem;
  height: 2.5rem;
  padding: 1.2rem;
}

.contact-me {
 display: flex;
 background-color: white;
}

.contact-me h2 {
  margin: .5rem 0;
  text-align: start;
}

.contact-me-message {
  width: 50%;
  line-height: 1.8rem;
  font-size: 1.25rem;
  padding: 6rem 0 0 5rem;
}

.contact-me-message p {
  width: 80%;
}

.contact-me-form {
  width: 50%;
  padding: 6.5rem 0 6rem 5rem;
  border: .5px solid #802000;
  background-color: #d7b9af;
  border-radius: 40px 30px 150px;
  border-bottom: none;
}

label {
    font-size: 1.25rem;
}

input::placeholder {
  color: #c1c0c0;
  padding-left: .5rem;
  font-style: italic;
} 

input[type="text"] {
    font-size: 1.1rem;
}

textarea::placeholder {
  color: #c1c0c0;
  padding-top: .4rem;
  padding-left: .5rem;
  font-style: italic;
  font-size: 1.1rem;
} 

input::placeholder {
  color: #a9a9a9;
} 

textarea {
  display: flex;
  margin-top: .4rem;
  width: 50.7%;
}

.input-field {
  display: flex;
  font-size: 1.25rem;
  width: 50%;
  flex-direction: column;
  margin-bottom: 1rem;
}

.user-identifier, .user-contact {
  display: flex;
}

.submit-button {
  background-color: #802000;
  font-weight: bolder;
  height: 2.5rem;
  width: 17.5rem;
  margin: 1rem 0 0 0;
  border: none;
  font-size: larger;
  color: white;
  border-radius: 7px;
}

.submit-button:hover {
  background-color: #a9a9a9;
  color: black;
}

.plans-price-section {
  background-size: cover;
  padding: 8rem 2rem;
  display: block;
  padding-bottom: 4rem;
}

.plans-price-section .pricing-layer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.pricing-layer h2 {
  height: 80%;
  text-align: center;
  padding: 0 1.5rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  position: fixed;
  left: 1rem;
  top: 1rem;
  background-color: #92ba8f;
  z-index: 2;
}

.price-scale-section {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 16vw;
  height: 50vh;
  box-shadow: -3px 3px 3px #a9a9a9;
}

.price-scale-section div {
  width: 100%;
  text-align: center;
}

.price-scale-section ul {
  font-size: medium;
  padding-top: 1rem;
  line-height: 2rem;
}

.price-scale-section h3 {
  margin: 0;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  color: #749471;
  padding-bottom: .75rem;
}

.price-scale-section p {
  font-style: italic;
  font-size: 20px;
  padding-bottom: .9rem;
  font-weight: 700;
}

.to-learn-list {
  display: flex;
  gap: 25rem;
  padding: 2.5rem 13rem;
  border: .75px solid #FF9F80;
  border-radius: 4rem;
  background-color: #ffe7e0;
}

.to-learn-list h3 {
  width: 15rem;
}

.to-learn-list img {
  width: 40%;
  border-radius: 4rem;
}

.thank-you {
  padding: 9rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.thank-you h1 {
  width: 70%;
}

.thank-you p {
  font-size: 1.5rem;
  width: 70%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #802000;
  background-color: rgb(235, 201, 113);
}

footer a {
  display: flex;
  justify-content: center;
}

.footer-heading {
  padding-top: 4rem;
  z-index: 1;
  position: relative;
  margin: 0;
  letter-spacing: .75rem;
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

footer img {
  width: 2%;
}

.top-footer-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-nav {
  line-height: 2rem;
  text-decoration: underline;
}

.icon-acknowledgment {
  padding: 1rem;
  display: block;
}

.bottom-of-footer-content p {
  padding: 2rem 0;
  text-align: center;
}

.desktop-hidden {
  display: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 767px) {



   .hamburger, .close {
    border: none;
    cursor: pointer;
    /* position absolute position the icons relative to the body because they have no position relative parents*/
    position: absolute;
    top: -7.5rem;
    right: 13.5rem;
    width: 36px;
    height: 36px;
  }
  
  .hamburger {
    background: #e8f0bf;
  }
  
  .close {
    left: 13rem;
    margin-left: 9rem;
    padding-top: 9rem;
    padding-left: 1rem;
    background: #FF9F80;
  }

  .hamburger img { 
    width: 90%;
  }

  .close img {
    width: 95%;
  }
  
  .navbar {
    padding-left: 3.5rem;
    position: absolute;
    /* a higher z-index put navbar above hamburger */
    z-index: 1000;
    top: 0;
    left: 0;
    width: 87%;
    height: 85vh;
    overflow: hidden;
    /* basic menu styling*/
    list-style: none;
    background: #FF9F80;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: start;
    /* animate slide up/down */
    transform: translateY(-150%);
    transition: transform 1.3s ease;
  }
  
  /* :target is called when its anchor id #navbar is called by clicking on the hamburger which has href="#navbar" */
  
  .navbar:target {
    /* show navbar */
    transform: translateY(0);
  }
  
  li .menu-links {
    display: block;
    color: #714c4c;
    font-weight: bold;
    font-size: 1.5rem;
    /* remove default underline and add our own with padding and border bottom */
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
  }
  
  li a:hover, li a:focus {
    /* show border bottom */
    border-bottom: 1px solid white;
  }


  .hamburger-menu .menu-links {
    width: 100%;
  }

  .navigation-bar .hamburger {
    padding-top: .61rem;
    padding-left: 5rem;
  }

  .disclaimer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .5rem;
    padding: 1rem 0rem;
  }

  .disclaimer p {
    width: 95%;
  }
  
  .page-title {
    letter-spacing: .1rem;
    text-align: center;
    padding: 3.1rem 0rem;
    color: #802000;
  }
  
  .page-title h1 {
    width: 90%;
    z-index: 1;
    position: relative;
    margin: 0;
    letter-spacing: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1.3rem;
    color: #802000;
  }

.page-title p {
    z-index: 1;
    position: relative;
    bottom: 1px;
    margin: 0;
    font-family: "Merriweather", sans-serif;
    letter-spacing: .1rem;
    font-size: .65rem;
    font-style: italic;
    font-weight: 300;
    padding-left: .9rem;
    margin-left: 2rem;
  }

  .logo img {
    width: 4.5rem;
    height: 4.5rem;
    margin-left: .005rem;
    margin-bottom: 0.1rem;
    padding-bottom: 2rem;
    position: absolute;
    left: 9rem;
    top: 2.7rem;
    z-index: auto;
  }

  .nav-bar-tabs {
    gap: .3rem;
    height: 2.5rem;
  }

  .nav-tab {
    font-weight: 500;
    width: 4rem;
    font-size: .5rem;
    padding: .5rem;
  }

  .hero-images {
    background-position: -155% 55%;
    background-size: cover;
    height: 40.5rem;
    height: 30rem;
    color: white;
    font-family: "Lato", sans-serif;
  }

  .hero-images p {
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding: 5rem 0 0 1rem;
    font-size: .78rem;
    font-style: italic;
    letter-spacing: .05rem;
    line-height: 1.7rem;
    color: black
  }

  .user-entry {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .user-entry h2 {
    width: 100%;
    text-align: center;
  }

  .list-of-services {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-top: 0;
    padding-bottom: 2.7rem;
  }

  .list-of-services article {
  gap: 1.7rem;
  margin-bottom: 1.5rem;
  padding: 1.1rem 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  list-style-type: none;
  border-radius: 7px;
  box-shadow: -.15rem -.15rem .15rem #b27966;
  position: relative;
  animation: mymove 5s forwards;
}

@keyframes mymove {
  from {left: 2000px;}
  to {left: 0px;}
}

  .list-of-services section .more-content {
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1.3rem 1rem;
    font-weight: 300;
    font-size: 1.3rem;
    width: 15.5rem;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
  }

  .list-of-services {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    padding: 1.5rem 0 4rem 0;
  }
  
  .services-heading {
    display: flex;
  }
  
  article h3 {
    font-weight: bold;
    padding: .8rem 0 .5rem .1rem;
    font-size: 1.7rem;
    width: 60%;
  }

  .list-of-services section .less-wording {
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1rem .95rem;
    font-weight: 300;
    width: 15.5rem;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
    background-color: #f4e4de;
  }

  .provide-list-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  .provide-list article {
    display: block;
    width: 100%;
    padding-bottom: 4rem;
  }

  .provide-list .end-benefits div,
  .provide-list .middle-benefit div {
    width: 100%;
    padding: 0;
  }

  .provide-list .end-benefits h3,
  .provide-list .middle-benefit h3 { 
    text-align: center;
    width: 95%;
    padding: 4.25rem 0rem .5rem .8rem;
  }

  .provide-list .end-benefits p,
  .provide-list .middle-benefit p {
    font-size: 1.2rem;
    width: 95%;
    padding: 1rem 0rem 1rem .5rem;
  }

  .provide-list .end-benefits img,
  .provide-list .middle-benefit img {
    width: 100vw;
    display: block;
  }

  .submit-button {
    display: block;
    padding: 1.5rem;
    height: 3rem;
    width: 9rem;
    font-size: 1.3rem;
    border-radius: 14px;
    text-align: center;
    margin-left: 5rem;
  }

  .call-to-action {
    padding: 6.5rem 1rem;
    color: #fae9e4;
  }

  .call-to-action .book-button {
    height: 2.7rem;
    width: 16rem;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    font-size: larger;
    border-radius: 7px;
  }
    
  
  .call-to-action p {
    font-size: 1.3rem;
    width: 100%;
  }
  
  .meet-the-founder {
    height: 90vh;
    padding: 1rem;
  }
  
  .meet-the-founder h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .meet-the-founder p {
    text-align: center;
    position: static;
    font-size: 1.5rem;
    margin-left: .75rem;
    width: 95%;
    padding-bottom: 5rem;
  }

  .meet-the-founder article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .meet-the-founder article img {
    z-index: 1;
    position: absolute;
    top: 252rem;
    left: 11rem;
  }
  
  
  .meet-the-founder article img {
    margin: 0 0 1.2rem 4.4rem;
    position: static;
    width: 60%;
    height: 40%;
  }
  
  .learn-more {
    margin-left: 7rem;
    margin-top: 7.5rem;
    padding: 1rem;
    margin-bottom: 7rem;
    width: 10rem;
    font-size: larger;
    position: static;
    border-radius: 7px;
  }

  .booking-section {
    display: block;
    padding: 0;
    margin: 0;
  }

  .booking-section img {
    padding: 0;
    width: 100vw;
  }

  .booking-section article {
    width: 100vw;
    text-align: center;
  }

  .booking-section article p {
    font-weight: 500;
    padding-bottom: 7%;
  }

  .plans-price-section {
    padding: 0 .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
  }

  .pricing-layer {
    padding: 1rem;
    flex-direction: column;
  }

  .price-scale-section {
    width: 85vw;
    padding: 1rem;
  }

  .price-scale-section div {
    width: 100%;
  }

  .price-scale-section article ul {
    font-size: .1rem;
  }
  
  label {
    font-size: 1rem;
    font-weight: bold;
  }

  .contact-me-form {
    width: 100%;
    height: 60vh;
    padding: 4rem 0 7rem 1rem;
    border-radius: 40px 30px 250px;
  }

  input {
    margin-top: .4rem;
    width: 92%;
    height: 5.5vh;
    border: none;
    border-radius: .8rem;
    border-right: 3px solid #757F86;
  }
  

  input::placeholder {
    color: #c1c0c0;
    padding-left: .5rem;
    font-style: italic;
  } 

  input[type="text"] {
      font-size: 1rem;
  }

  textarea::placeholder {
    color: #c1c0c0;
    padding-top: 1rem;
    padding-left: .5rem;
    font-style: italic;
    font-size: 1.2rem;
  } 

  textarea {
    margin-top: .4rem;
    border: none;
    width: 96%;
    height: 20vh;
    border-radius: .9rem;
    margin-bottom: 2rem;
    border-right: 3px solid #757F86;
  }


  .user-identifier, .user-contact {
    margin-top: .4rem;
  }

  .articles-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }

  .about-left {
    display: block;
    gap: 3rem;
  }

  .image-of-self {
    margin-top: 2rem;
    width: 75%;
  }

  .about-founder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0;
  }

  .about-founder h2 {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  footer {
    margin-top: auto;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  footer img {
    width: 10%;
    padding-bottom: 1.5rem;
  }

  .top-footer-content {
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
  }

  .top-footer-content .footer-nav {
    width: 100%;
  }
  
  .footer-nav {
    line-height: 1.7rem;
    width: 25%;
  }
  
  .icon-acknowledgment {
    padding: 1rem;
    display: block;
  }

  #hidden {
    display: none;
  }

  .desktop-hidden {
    display: block;
  }

  #mobile-tablet-hidden {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-title {
    letter-spacing: .1rem;
    padding: 4rem 0rem;
  }
  
  .page-title h1 {
    width: 100%;
    z-index: 1;
    position: relative;
    margin: 0;
    letter-spacing: .5rem;
    font-size: 3.5rem;
    font-weight: 700;
    padding-left: 1.3rem;
    color: #802000
  }

.page-title p {
    z-index: 1;
    position: relative;
    bottom: 1px;
    margin: 0;
    font-family: "Merriweather", sans-serif;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    padding-left: .9rem;
    margin-left: 2rem;
  }

  .logo img {
    width: 6.7rem;
    height: 6.7rem;
    margin-left: .005rem;
    margin-bottom: 0.1rem;
    padding-bottom: 2rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: auto;
  }

  .nav-bar-tabs {
    gap: .5rem;
    height: 2.5rem;
  }

  .nav-tab {
    font-weight: 500;
    width: 8rem;
    font-size: .9rem;
    padding: .2rem;
  }

  .hero-images {
    height: 30rem;
    color: white;
    font-family: "Lato", sans-serif;
  }

  .hero-images p {
    width: 65%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding: 4.5rem 0 0 0;
    font-size: 1rem;
    font-style: italic;
    letter-spacing: .05rem;
    line-height: 3rem;
    color: black
  }

  .list-of-services {
    gap: 2.3rem;
    padding-bottom: 4rem;
  }

  .list-of-services section .less-wording {
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1.2rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    width: 17.5rem;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
  }

  .list-of-services section .more-content {
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0;
    padding: 1.2rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    width: 17.5rem;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
  }

  .provide-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .provide-list article {
    display: block;
    width: 100%;
    padding-bottom: 8rem;
  }

  .provide-list .end-benefits div,
  .provide-list .middle-benefit div {
    padding-right: 0;
    margin: 0 auto;
    width: 80%;
  }

  .provide-list .end-benefits h3,
  .provide-list .middle-benefit h3 { 
    text-align: center;
    width: 100%;
    padding: 8rem 0rem 0rem 1rem;
  }

  .provide-list .end-benefits p,
  .provide-list .middle-benefit p {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    padding: 1rem 0rem 0rem 1rem;
  }

  .provide-list .end-benefits img,
  .provide-list .middle-benefit img {
    width: 100vw;
  }

  .call-to-action {
    padding: 7rem 1rem;
  }
  
  .call-to-action p {
    font-size: 1.8rem;
    width: 100%;
  }

  .meet-the-founder {
    height: 90vh;
    padding: 1rem;
    margin-bottom: 0;
  }

  /* .black-background {
    margin: 8% 4%;
    background-color: black;
    padding: 2rem 0;
    width: 90%;
  } */
  
  .meet-the-founder h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .meet-the-founder p {
    padding-top: 1.5rem;
    text-align: center;
    position: static;
    font-size: 2.5rem;
    margin-left: 2rem;
    width: 90%;
  }
  
  .meet-the-founder article img {
    margin: 0 11rem;
    position: static;
  }
  
  .learn-more {
    margin-top: 25rem;
    margin-left: 14rem;
    padding: 1rem;
    font-size: larger;
    position: static;
    border-radius: 7px;
  }

  .booking-section {
    padding: 0;
    gap: .95rem;
  }

  .booking-section img {
    padding: 2.5rem 0;
    width: 45vw;
    height: 50vh;
  }

  .booking-section article p {
    font-weight: 500;
    padding-bottom: 2rem;
  }

  .plans-price-section {
    padding: 0 2rem;
    display: grid;
    gap: 1.7rem;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 4rem;
  }

  .price-scale-section {
    width: 42vw;
    padding: .5rem;
  }

  .price-scale-section div {
    width: 100%;
  }

  .price-scale-section article ul {
    font-size: .1rem;
  }

  .articles-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }

  .about-left {
    display: block;
    gap: 3rem;
  }

  .image-of-self {
    margin-top: 2rem;
    padding: 0 3rem;
    width: 70%;
  }

  .about-founder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0;
  }

  .about-founder h3 {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .about-founder p {
    font-size: 2rem;
  }

  .contact-me-form {
    width: 100%;
    height: 60vh;
    padding: 4rem 0 7rem 1rem;
    border-radius: 40px 30px 250px;
  }

  input {
    margin-top: .4rem;
    width: 92%;
    height: 5.5vh;
    border: none;
    border-radius: .8rem;
    border-right: 3px solid #757F86;
  }
  

  input::placeholder {
    color: #c1c0c0;
    padding-left: .5rem;
    font-style: italic;
  } 

  input[type="text"] {
      font-size: 1rem;
  }

  textarea::placeholder {
    color: #c1c0c0;
    padding-top: 1rem;
    padding-left: .5rem;
    font-style: italic;
    font-size: 1.2rem;
  } 

  textarea {
    margin-top: .4rem;
    border: none;
    width: 96%;
    height: 20vh;
    border-radius: .9rem;
    margin-bottom: 2rem;
    border-right: 3px solid #757F86;
  }


  .user-identifier, .user-contact {
    margin-top: .4rem;
  }

  #desktop-hidden {
    display: block;
  }

  #hidden {
    display: none;
  }

  #mobile-tablet-hidden {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) and (orientation: landscape) {
  body {
    flex-direction: row;
  }

  .hero-images p {
    width: 65%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding: 7rem 0 0 0;
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: .05rem;
    line-height: 3rem;
    color: black;
  }

  .logo img {
    width: 7.5rem;
    height: 7.5rem;
    margin-left: .005rem;
    margin-bottom: 0.1rem;
    padding-bottom: 2rem;
    position: absolute;
    left: 9.7rem;
    top: 1.5rem;
    z-index: auto;
  }

  .list-of-services {
    gap: 2.3rem;
    padding-bottom: 4rem;
  }

  .list-of-services ul li {
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0;
    padding: 1.2rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    width: 27.5rem;
    height: 4vh;
    list-style-type: none;
    border-radius: 7px;
    box-shadow: .15rem .15rem .15rem #5c5111;
  }

  .provide-list {
    display: block;
    margin-bottom: 2rem;
  }

  .provide-list article {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .provide-list article p {
    width: 75%;
  }

  .about-founder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-top: 4rem;
  }

  .about-left {
    display: flex;
    gap: 1rem;
  }

  .about-founder h3 {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .about-founder p {
    font-size: 1.2rem;
  }

  .meet-the-founder article img {
    margin: 0 0 .2rem 4rem;
    position: static;
    width: 30%;
    height: 10%;
  }

  .meet-the-founder p {
    margin-left: 28rem;
    margin-top: -29rem;
  }

  .call-to-action {
    padding: 5rem 10rem;
    background: #E7F1F2;
    border-top:2px solid #688bc1;
  }
  
  .call-to-action p {
    font-size: 2.1rem;
    width: 100%;
  }

  .call-to-action a {
    margin-left: 18rem;
  }
}

